<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title> new comments </title>
  
</head>

<body>
    <h1>make a new comment</h1>
      <form action="/comments" method="post">
          <section>
          <label for="username">enter username:</label>
      <input type="text" id="username" placeholder="username" name="username" required>
      </section>
      <section>
      <label for="comment">comment text</label>
      <br>
    <textarea  id="comment" cols="30" rows="5" name="comment" >
        </textarea>
      </section>
      <button>submit</button>
    </form>
      <a href="/comments">back to index</a>
</body>
</html>